a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
   margin: 0;
   border: 0;
   padding: 0;
   vertical-align: baseline;
   font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
   font-family: sans-serif;
}

ol,
ul {
   list-style: decimal outside;
}

blockquote,
q {
   quotes: none;
}

blockquote::before,
blockquote::after {
      content: none;
   }
}

q::before,
q::after {
      content: none;
   }
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* UNIVERSAL */

html {
   font-size: 16px;
}

body {
   width: 90%;
   position: relative;
   left: 50px;
}

main {
   font-family: "Univers-Light-Normal", sans-serif;
   line-height: 1.5rem;
}

/* CONTENT DIVS */

#principles {
   min-width: 30%;
   max-width: 50%;
}

/* TEXT STYLING */

h1, h2, h3 {
   font-family: "Avenir", sans-serif;
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.5rem;
   font-style: italic;
}
