body{
   background-color: #FF7F66;
}

header {
   line-height: 13em;
   font-family: 'Eczar', serif;
   text-transform: uppercase;
   color: #0E0A33;
   padding-top:40px;
   margin-right: 40px;
}

h1, h2{
   margin:80px 200px 0px 0px;
}

h1 {
   padding-left:400px;
   font-size: 200px;
   letter-spacing: 5px;
}

h2{
   font-size: 130px;
   text-align: right;
}
