/* UNIVERSAL */

html {
   font-size: 16px;
}

body {
   width: 600px;
   font-family: "Univers-Light-Normal", sans-serif;
   border: 1px solid black;
}

header, main, footer {
   margin: 10px;
   border: 1px solid black;
}

main {
   line-height: 1.5rem;
}

/* CONTENT DIVS */

#content {
   max-width: 100%;
   border: 1px solid black;
}

#tenprinciples {
   max-width: 100%;
   display: flex;
   flex-flow: row wrap;
   border: 1px solid black;
}

/* TEXT STYLING */

h1, h2, h3 {
   font-family: "Avenir Next", sans-serif;
}

h1 {
   font-size: 2rem;
}

h2, h3 {
   font-weight: 300;
}

h2 {
   font-size: 1.3rem;
}

.number {
   font: 700 6rem "Univers-Light-Normal";
   color: #FFF;
   background-color: #969696;
   text-align: right;
   width: 20%;
}

.principle {
   width: 70%;
   border: 1px solid black;
}
