/* UNIVERSAL */

html {
   font-size: 16px;
   display: flex;
   justify-content: center;

}

body {
   width: 800px;
   font-family: "Univers-Light-Normal", sans-serif;
   /*border: 1px solid red;*/
}

header, main, footer {
   min-width: 550px;
   max-width: 100%;
   margin: 10px 0;
   /*border: 1px solid black;*/
}

header {
   align-self: flex-start;
}

main {
}

/* CONTENT DIVS */

#tenprinciples {
   width: 100%;
   /*border: 1px solid black;*/
}

/* SPECIAL LIST FORMATTING WITH EVEN AND ODD!!1 */

.even, .odd {
   display: flex;
   flex-flow: row wrap;
   margin: 20px 0;
   width: 100%;
   /*border: 1px solid black;*/
}

.even .principle {
   order: 1;
   text-align: right;
   padding-right: 15px;
}

.even .number {
   order: 2;
}

.odd .principle {
   padding-left: 15px;
}

.odd .number {
   text-align: right;
}


/* TEXT STYLING */

header, footer, #gooddesign {
   font-family: "Avenir Next", sans-serif;
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.3rem;
}

h2, footer, #gooddesign {
   font-weight: 300;
}

p {
   line-height: 1.5em;
}

#big10 {
   font: 700 6rem "Univers-Light-Normal";
}

.number {
   font: 700 6rem "Univers-Light-Normal";
   color: #FFF;
   background-color: #969696;
   width: 20%;
   /*border: 1px solid black;*/
}

.principle {
   width: 70%;
   /*border: 1px solid black;*/
}
